services:
  # Frontend - Vue.js
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL:-http://localhost:8000/api}
        NODE_ENV: ${NODE_ENV:-production}
    container_name: crm-frontend
    restart: unless-stopped
    environment:
      NODE_ENV: ${APP_ENV:-production}
      VITE_API_BASE_URL: ${VITE_API_BASE_URL:-http://localhost:8000/api}
    networks:
      - it_services_net

networks:
  it_services_net:
    external: true