@import "tailwindcss";
@plugin 'flowbite/plugin';

/* Define custom colors for SDU branding */

@theme {
  /* Primary SDU Blue */
  --color-primary-50: #f3f4f9;   /* Lightest */
  --color-primary-100: #e1e3f0;  /* Lighter */
  --color-primary-200: #c2c6e1;  /* Light */
  --color-primary-300: #a3a8d2;  /* Medium Light */
  --color-primary-400: #848bc3;  /* Medium */
  --color-primary-500: #2f3459;  /* Main SDU Blue */
  --color-primary-600: #2a2f50;  /* Dark */
  --color-primary-700: #232743;  /* Darker */
  --color-primary-800: #1c1f36;  /* Even Darker */
  --color-primary-900: #141624;  /* Darkest */

  /* Secondary SDU Orange */
  --color-secondary-50: #fdf7f5; /* Lightest */
  --color-secondary-100: #f9e9e3; /* Lighter */
  --color-secondary-200: #f3d0c6; /* Light */
  --color-secondary-300: #eeb6a8; /* Medium Light */
  --color-secondary-400: #e89d8b; /* Medium */
  --color-secondary-500: #d69979; /* Main SDU Orange */
  --color-secondary-600: #c38a6d; /* Dark */
  --color-secondary-700: #a9735b; /* Darker */
  --color-secondary-800: #8f5c49; /* Even Darker */
  --color-secondary-900: #6c4537; /* Darkest */
}

@custom-variant dark (&:where(.dark, .dark *));

@source "../node_modules/flowbite-vue/dist";